*.old

/.petalinux/
/.Xil/
/components/
/project-spec/*
!/project-spec/meta-user/
/project-spec/meta-user/*
!/project-spec/meta-user/recipes-apps/
!/project-spec/meta-user/recipes-extended/
!/project-spec/meta-user/recipes-modules/
!/project-spec/meta-user/recipes-bsp/
/project-spec/meta-user/recipes-bsp/*
!/project-spec/meta-user/recipes-bsp/u-boot/
/project-spec/meta-user/recipes-bsp/u-boot/*
!/project-spec/meta-user/recipes-bsp/u-boot/files/
/project-spec/meta-user/recipes-bsp/u-boot/files/*
!/project-spec/meta-user/recipes-bsp/u-boot/files/bsp.cfg
!/project-spec/meta-user/recipes-bsp/device-tree/
/project-spec/meta-user/recipes-bsp/device-tree/*
!/project-spec/meta-user/recipes-bsp/device-tree/files/
/project-spec/meta-user/recipes-bsp/device-tree/files/*
!/project-spec/meta-user/recipes-bsp/device-tree/files/system-user.dtsi
# petalinux-package generate
/images/
# petalinux, cmake, vivado generate
build/

# vivado without -nolog -nojournal
*.log
*.jou

# hdl_checker
.hdl_checker/

# clangd
.cache/
compile_commands.json
compile_commands.events.json
