[Unit]
Description=Simple autostart application

[Service]
ExecStart=/usr/bin/main -d
ExecReload=/bin/kill -SIGHUP $MAINPID

[Install]
WantedBy=multi-user.target
